<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Favorite Locations</title>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

       <h3>Favorite Locations</h3>
      <table class="table">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>PlaceId</th>
                  <th>Display Name</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Get Earthquakes</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="u: ${locations}">
                <td th:text="${u.getId()}"></td>
                <td th:text="${u.getPlaceId()}"></td>
                <td th:text="${u.getName()}"></td>
                <td th:text="${u.getLatitude()}"></td>
                <td th:text="${u.getLongitude()}"></td>
                <td><a th:href="@{/earthquakes/search/(lat=${u.getLatitude()},lon=${u.getLongitude()},location=${u.getName()})}">Get Earthquakes</a></td>
              </tr>
          </tbody>
      </table>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>

